.donation {
    display: flex;
    width: 70%;
    align-items: center;
    min-height: 300px;
    margin: 0 auto $base-spacing * 3 auto;

    &__title {
        margin: -$base-spacing auto $base-spacing * 2 auto !important;
    }

    &__content {
        margin-left: $base-spacing * 4;
    }

    &__description {
        color: $light-grey;
        line-height: 1.4;
        margin-bottom: $base-spacing * 3;
    }

    &__logo {
        max-width: 268px;
    }

    @media(max-width: $medium-resolution) {
        width: 100%;
    }

    @media(max-width: $high-resolution) {
        width: 100%;
    }

    @media(max-width: $tablet-resolution) {
        width: 100%;
        margin-bottom: $base-spacing * 2;
        display: block;
        min-height: 400px;

        &__logo {
            margin: 0 auto;
            display: block;
            max-width: 130px;
        }

        &__content {
            margin-left: 0;
            margin-top: $base-spacing * 4;
            text-align: center;
        }

        &__description {
            line-height: 1.2;
        }
    }
}