.donations {
    @extend .container;
    padding: $base-spacing * 5 $base-spacing * 8 $base-spacing * 8 $base-spacing * 8;

    &__description {
        @extend .text-block;
    }

    &__list{
        margin: 0 auto;

        @media(max-width: $tablet-resolution) {
            display: inherit;
        }
    }

    &__icon {
        width: 100%;
        margin: 0 auto;
    }
}