.navigation {
    @extend .container;
    padding: $base-spacing * 4 $base-spacing * 6 0 $base-spacing * 6;
    width: 70%;
    text-align: right;

    &__link {
        text-decoration: none;
        color: $light-blue;
        margin-right: $base-spacing;
    }

    @media(max-width: $medium-resolution) {
        padding: $base-spacing * 4 $base-spacing * 5 0 $base-spacing * 5 !important;
        text-align: center;
    }

    @media(max-width: $high-resolution) {
        padding: $base-spacing * 3 $base-spacing * 5 0 $base-spacing * 5 !important;
        text-align: center;
    }

    @media(max-width: $tablet-resolution) {
        padding: $base-spacing * 2 $base-spacing * 5 0 $base-spacing * 5 !important;
        text-align: center;
    }
}